.activities .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
  gap: 1.5rem;
}
.activities .box-container .box{
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  border-radius: 2rem;
  outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  outline-offset: -1rem;
}
.activities .box-container .box img{
  height: 8rem;
}
.activities .box-container .box:hover img{
transform: scale(1.1);
}

.activities .box-container .box h3{
  font-size: 2.2rem;
  padding: 2rem 0;
  color: var(--black);
}