.teacher{
  background: url(/images/teacher-bg.png) no-repeat;
  background-position: center;
  background-size: cover;
}
.teacher .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.teacher .box-container .box{
  background: rgb(rgb(156, 121, 121), green, blue);
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  border-radius: 2rem;
}
.teacher .box-container .box img{
  height: 30rem;
}
.teacher .box-container .box h3{
  font-size: 2.5rem;
  color: var(--black);
}
.teacher .box-container .box p{
  font-size: 1.7rem;
  color: var(--light-color);
  margin-bottom: 1rem;
}
.teacher .box-container .box .share i{
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  background: none;
  color: var(--pink);
  border: 0.1rem solid var(--pink);
  margin-left: 0.5rem;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
.teacher .box-container .box .share i:hover{
  color: var(--white);
  border: 0.1rem solid var(--orange);
  background: var(--orange);
}